<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planner</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="container--fluid" id="main-content">
        {% block main_block %}{% endblock %}
      </div>
    </div>

    <div class="footer"></div>

    <footer>
      <p>&copy; 2024 My Planner. All rights reserved.</p>
    </footer>
  </body>
</html>
